.header {
  margin-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}
.header__image {
  margin-bottom: 41px;
}
@media screen and (max-width: 680px) {
  .header {
    padding: 28px 19px 0px 27px;
    margin: 0;
    width: unset;
  }
  .header__image {
    margin-bottom: 32px;
    width: 126px;
    height: 24px;
  }
}
